*.pyc
ciim.log
eamena/media/packages
eamena/logs/*.log
eamena/uploadedfiles
eamena/ontologies/*.xml
eamena/arches.log
eamena/static/*
*.sublime*
eamena/settings_local.py
.DS_Store
*.djcache
eamena/node_modules
.vscode/
Procfile
eamena/management/commands/addusers.py
eamena/__pycache__
